In [35]:
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

# Prediction

I believe that the Logistic model will provide the most accurate result in determinizing the loan status because there is a certain threshold that will determine if the loan will or will not be accepted, similar to the rise of a logistic curve.

The other model will yield good result too however, because of the type of data that can be categorized very clearly

In [28]:
#Import the data
lending_df = pd.read_csv(Path('Resources/lending_data.csv'))
lending_df.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

In [29]:
# Split the data into X_train, X_test, y_train, y_test

#Create the inital two variables with the appropriate tables
X = lending_df.drop(columns=['loan_status'])
y = lending_df['loan_status']

In [30]:
#split into train vs test
x_train, x_test, y_train, y_test = train_test_split(X, y)

In [31]:
x_train.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
56527,9600.0,7.206,48400,0.380165,4,0,18400
48984,10100.0,7.430,50500,0.405941,4,1,20500
76274,20400.0,11.800,91700,0.672846,13,3,61700
69609,7400.0,6.260,39500,0.240506,2,0,9500
74006,8400.0,6.702,43700,0.313501,3,0,13700

In [32]:
y_train.head()

56527    0
48984    0
76274    1
69609    0
74006    0
Name: loan_status, dtype: int64

In [33]:
# Train a Logistic Regression model print the model score
classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

0.9926227816756088

In [34]:
# Train a Random Forest Classifier model and print the model score
rfc = RandomForestClassifier()
rfc.fit(x_train, y_train)
rfc.score(x_test, y_test)

0.9915910028889806

### Conclusion

from the tests ran in this analysis demonstrates that both Logistic Regression(99.26%) and Random Forest Classifier(99.15%) are both very accurate algorithms to determine accuracy, but Logistic Regression edged out with a more accurate score by only .1%